<% content_for :title do %>
 The Bitcoin Options Exchange - 101 Digital Exchange
<% end %>
<% content_for :description do %>
 The Bitcoin Options Exchange - 101 Digital Exchange
<% end %>
<div class="hero-surround">
	<div class="row">
		<div class="small-12 medium-12 medium-centered columns text-center hero">
			<div class="hero">
				<%= image_tag "101dx_icon_white.png", size: "100x100", class: "mt-15" %><p/>
 <%= render 'layouts/messages' %>
				<h4>Grow, Protect, or Speculate at</h4>
				<h1 id= "headline">The Digital Currency Option Exchange</h1>
				<div class="link-wrap">
      		<%= link_to 'Get Started Now!', new_user_registration_path, class: "button large radius alert centered hero-button" %>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
  <div class="small-7 columns">
  <p>&nbsp;</p>
    <h3 align="center">NOW: Binary Bitcoin Options</h3>
    <p>Trade Binary Options on BTC:USD in either 1 or 5 minute pools. Our 90% payout is the highest in the industry, and our best traders earn daily, weekly, monthly, and annual bonuses - <%= link_to "Check the Leaderboard", leaderboard_path %>.</p>
    <p>In-the-money Options pay up to 590% - it's <b>literally</b> the fastest way we know to multiply your Bitcoins.</p>
    <%= link_to 'Try the Beta Now!', new_user_registration_path, class: "button large radius alert centered hero-button" %>
  </div>
  <div class="small-5 columns">
    <%= image_tag("gclock.png") %>
  </div>
</div>

<div class="row">
<p>&nbsp;</p>
</div>

<div class="row">
  <div class="small-5 columns">
    <%= image_tag("forexchart.jpg") %>
  </div>
  <div class="small-7 columns">
    <p></p>
    <h3 align="center">SOON: Euro-Style Bitcoin Options</h3>
    <p>We're building the next-generation digital currency option system right now.</p>
    <div class="link-wrap" align="center"><%= link_to 'Get Advance Access', new_user_registration_path, class: "button large radius alert centered hero-button" %></div>
  </div>
</div>
<div class="row">
  <p>&nbsp;</p>
</div>

<div class="row" align="center">
  <div class="small-7 columns">
    <p></p><i>...and if that isn't enough....</i>
    <h3>1 BTC Signup Bonus!</h1>
    <h4 align="center">We'll match your first deposit 100% up to 1 Bitcoin.</h4>
    <p></p>
        <div class="link-wrap" align="center">
                <%= link_to 'Start Trading Today!', new_user_registration_path, class: "button large radius alert centered hero-button" %>
        </div>
  </div>
  <div class="small-5 columns">
    <%= image_tag('bitcoin-225.png') %>
  </div>
</div>
<div class="row">
  <p>&nbsp;</p>
</div>

<div class="github-fork-ribbon-wrapper right-bottom">
  <div class="github-fork-ribbon">
    <a href= "#">Not Even Beta, Baby!</a>
  </div>
</div>  