<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @trade.user %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @trade.amount %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
